{% extends "base.html" %}

{% block title %}Login - Edu-Paper{% endblock %}

{% block content %}
<div class="container" style="max-width:400px; margin-top:50px;">
    <h2 class="mb-4 text-center">Login</h2>
    <form method="POST" action="{{ url_for('auth.login') }}">  
        <!-- Including CSRF token-->
        {{ form.hidden_tag() }}

        <div class="mb-3">
            {{ form.email.label }} <br>
            {{ form.email(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.password.label }} <br>
            {{ form.password(class="form-control") }}
        </div>
        <div class="btn btn-primary w-100">
            {{ form.submit() }}
        </div>

    </form>

    <p class="text-center mt-3">
        Don't have an account? <a class="btn btn-primary" href="{{ url_for('auth.register') }}">Register</a>
    </p>
</div>
{% endblock %}
